body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at center, #222, #000);
}
body svg {
  position: absolute;
  width: 0;
  height: 0;
}
body .wrap {
  width: 0px;
  height: 900px;
  position: relative;
  -webkit-animation: scrollup 6s linear infinite;
          animation: scrollup 6s linear infinite;
  filter: url("#goo");
}

@-webkit-keyframes scrollup {
  from {
    transform: scale(0.75) translateY(100px);
  }
  to {
    transform: scale(0.75) translateY(-100px);
  }
}

@keyframes scrollup {
  from {
    transform: scale(0.75) translateY(100px);
  }
  to {
    transform: scale(0.75) translateY(-100px);
  }
}
body .wrap .angle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 50px);
  filter: contrast(10px);
}
body .wrap .angle:first-of-type {
  -webkit-animation: rolldown 6s ease-in-out infinite;
          animation: rolldown 6s ease-in-out infinite;
}
@-webkit-keyframes rolldown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rolldown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body .wrap .angle:first-of-type:before {
  -webkit-animation: rolldown2 6s ease-in-out infinite;
          animation: rolldown2 6s ease-in-out infinite;
  transform-origin: top right;
}
@-webkit-keyframes rolldown2 {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rolldown2 {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body .wrap .angle:nth-of-type(2) {
  -webkit-animation: rolldown3 6s ease-in-out infinite;
          animation: rolldown3 6s ease-in-out infinite;
  transform-origin: left;
}
@-webkit-keyframes rolldown3 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  37.5% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rolldown3 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  37.5% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
body .wrap .angle:nth-of-type(2):before {
  -webkit-animation: rolldown4 6s ease-in-out infinite;
          animation: rolldown4 6s ease-in-out infinite;
  transform-origin: top left;
}
@-webkit-keyframes rolldown4 {
  0% {
    transform: rotate(0deg);
  }
  37.5% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rolldown4 {
  0% {
    transform: rotate(0deg);
  }
  37.5% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
body .wrap .angle:nth-of-type(3) {
  -webkit-animation: rolldown5 6s ease-in-out infinite;
          animation: rolldown5 6s ease-in-out infinite;
}
@-webkit-keyframes rolldown5 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rolldown5 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body .wrap .angle:nth-of-type(3):before {
  -webkit-animation: rolldown6 6s ease-in-out infinite;
          animation: rolldown6 6s ease-in-out infinite;
  transform-origin: top right;
}
@-webkit-keyframes rolldown6 {
  0% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes rolldown6 {
  0% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
body .wrap .angle:nth-of-type(4) {
  -webkit-animation: rolldown7 6s ease-in-out infinite;
          animation: rolldown7 6s ease-in-out infinite;
  transform-origin: left;
}
@-webkit-keyframes rolldown7 {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  87.5% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rolldown7 {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  87.5% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
body .wrap .angle:nth-of-type(4):before {
  -webkit-animation: rolldown8 6s ease-in-out infinite;
          animation: rolldown8 6s ease-in-out infinite;
  transform-origin: top left;
}
@-webkit-keyframes rolldown8 {
  0% {
    transform: rotate(0deg);
  }
  87.5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes rolldown8 {
  0% {
    transform: rotate(0deg);
  }
  87.5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
body .wrap .angle:nth-of-type(1) {
  top: calc((50% - 250px) + (0 * 50px));
}
body .wrap .angle:nth-of-type(1):before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #b21f1f, #fdbb2d 150%);
}
body .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
body .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
body .wrap .angle:nth-of-type(2) {
  top: calc((50% - 250px) + (1 * 50px));
}
body .wrap .angle:nth-of-type(2):before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #b21f1f, #fdbb2d 150%);
}
body .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
body .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
body .wrap .angle:nth-of-type(3) {
  top: calc((50% - 250px) + (2 * 50px));
}
body .wrap .angle:nth-of-type(3):before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #b21f1f, #fdbb2d 150%);
}
body .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
body .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
body .wrap .angle:nth-of-type(4) {
  top: calc((50% - 250px) + (3 * 50px));
}
body .wrap .angle:nth-of-type(4):before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: linear-gradient(to right, #b21f1f, #fdbb2d 150%);
}
body .wrap .angle:nth-of-type(even):before {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
body .wrap .angle:nth-of-type(odd):before {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
